.bgcw{
	background-color: white;
}

.bgcy{
	background-color: yellow;
}

.bgcr{
	background-color: red;
}

.wcolor{
	color: white;
}

.rcolor{
	color:red;
}

.gcolor{
	color:gray;
}

.opacity { 
background: rgb( ,  , ); 
background: rgba( ,  ,  , .5); 
}