/*-----------------background-color---------------------*/

.bgcw{
	background-color: white;
}

.bgcy{
	background-color: yellow;
}

.bgcr{
	background-color: red;
}

/*-----------------color---------------------*/
.wcolor{
	color: white;
}

.rcolor{
	color:red;
}

.gcolor{
	color:gray;
}

.product-color{
	color: #333;
}
