/*-----------------font-size---------------------*/

.font-sml{
	font-size:10px;
}

.font-medi{
	font-size:20px;
}

.font-lar{
	font-size:40px;
}

.font-ex-lar{
	font-size:70px;
}

.font-we-bo{
	font-weight: bold;
}

/*-----------------font-family---------------------*/

.font-ita{
	font-style:italic;
}

.font-f-rale{
	font-family: 'Raleway', sans-serif;
}

.font-f-play{
	font-family: 'Playfair Display', serif;
}



	



