

.tablet-flex-row{
		flex-direction:row;
	 } 

.tablet-flex-col{
		flex-direction:column;
	 } 
	 
/* mobile and down */ 
@media( max-width: 600px){
	.tablet-flex-col{
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
}
/* for tablet and desktop */
@media( min-width: 600px){
	.tablet-flex-row{
		flex-direction:row;
	 } 
} 