	 
/* tablet */ 

/*
@media( min-width: 600px) and (max-width: 1000px){
	.tab-flex-row{
		flex-direction:row;
		justify-content:center;
		align-items:center;
	}
	
}
*/

/* desktop */ 

@media( min-width: 1000px)

/*
	.tab-flex-row{
		flex-direction:row;
		justify-content:center;
		align-items:center;
	}
*/
    
    .subsection1{
        display: flex;
        flex-flow: row;
    }
    .subsection1-a{
        width:50%;
        margin-top:0;
    }

    .subsection2{
        display: flex;
        flex-flow: row;
        margin:0;
    }

     .subsection2-a{
        width:50%;
    }
	
}








