/*font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif; 
*/
img {
	max-width:100%;
}

.aloha{
	width: 6em;
}

.cart{
	width: 3em;
}

.nav1 li{
	padding-right:  4em;
}

a{
	color:black;
	text-decoration: none;
	transition:color .5s ease;
}
a:visited{
	color:black;
}

a:hover {
	color: #339999;
}

nav ul li a:visited{
	color:red;
}

nav ul li  a{
	color: red;
}

.social a:visited {
	color: white;
}

.banner {
    height: 70vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("images/banner-girl.png") top center no-repeat, url("images/flower-bkgd.jpg")  center center no-repeat;
}

.mens{
    //min-width: 100%;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("images/mens-category.jpg") no-repeat center;
    background-size: cover;
    border: 3px solid white;
    flex: 0 0 50%;
}


.trends{
    //max-width: 50%;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("images/trends-category.jpg") no-repeat center;
    background-size: cover;
    border-color: 3px solid white;
    flex: 0 0 50%;
    border: 3px solid white;
    
}


.glasses{
    //max-width: 50%;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("images/glasses-category.jpg") no-repeat center;
    background-size: cover;
    flex: 0 0 50%;
    border: 3px solid white;
}


.sale{
    //max-width: 50%;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("images/sale-category.jpg") no-repeat center;
    background-size: cover;
    flex: 0 0 50%;
    border: 3px solid white;
}


.bags{
    //max-width: 50%;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("images/bags-category.jpg") no-repeat center;
    background-size: cover;
    flex: 0 0 50%;
    border: 3px solid white;
}

.womens{
    //max-width: 100%;
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("images/womens-category.jpg") no-repeat center;
    background-size: cover;
    flex: 0 0 50%;
    border: 3px solid white;
}

.child{
	max-width:50%;
}

.child img{
	max-width:100%;
	transition:background-color 1s ease;
}

.child:hover{
	background-color:#BCC6CC;
}


.disc{
	font-size: 1.5em;
	
}

.subscribe{ /*final section */
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("images/wave-bkgd.jpg");
    background-position: bottom;
   	padding: 5rem;

}

.subbtn{ /*button */
	padding: 5px;
    width: 10em;
	transition:background-color 1s ease;
}

.subbtn:hover{
	background-color:blue;
}

.sub-box{ /* input div box */
    width: 20em;
	padding :5px;
}

input{
	background-color: transparent;
	outline-width: 0;
    border: 0px solid;
    color: gray;
}

.icon{
	width: 30%;
}

.footer{
	background-color: #2B1B17;
}
