/*font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif; 
*/
img {
	max-width:100%;
}

.aloha{
	width: 7em;
}

.cart{
	width: 3em;
}

.nav1 li{
	padding-right:  4em;
}

a{
	color:black;
	text-decoration: none;
	transition:color .5s ease;
}
a:visited{
	color:black;
}

a:hover {
	color: #339999;
}

.social a:visited {
	color: white;
}

.banner {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("images/banner-girl.png") top 5em center no-repeat, url("images/flower-bkgd.jpg") center center no-repeat;
}

.child{
	max-width:25%;
}

.child img{
	max-width:100%;
	transition:background-color 1s ease;
}

.child:hover{
	background-color:#BCC6CC;
}

.product{
	padding-top: 20px;
}

.disc{
	font-size: 1.5em;
	
}

.subscribe{ /*final section */
	background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),url("images/wave-bkgd.jpg");
    background-position: bottom;
   	padding: 5rem;


/*	background-image: url("images/wave-bkgd.jpg");
	background-position: bottom, center;*/

}

.subbtn{ /*button */
	padding: 5px;
    width: 10em;
	transition:background-color 1s ease;
}

.subbtn:hover{
	background-color:blue;
}

.sub-box{ /* input div box */
    width: 20em;
	padding :5px;
}

input{
	background-color: transparent;
	outline-width: 0;
    border: 0px solid;
    color: gray;
}

.icon{
	width: 30%;
}

.social {
	width: 5rem;
}

.social a{
	text-decoration:none;
}

.footer{
	background-color: #2B1B17;
}

